#header{
    background-color: #004e99;
}
#menu{
    background-color: #004e99;
}
.navbar{
    margin-top: 30px;
    background-color: #004e99;
}
.nav-link{
    text-align: center;
}
.row{
    margin-left: 0.2px;
}
.footer{
    background-color: #004e99;
    height: 30px;
    text-align: center;
}
.img{
    background-color: transparent;
}